[sssd]
services = nss, pam
domains = default

[nss]
filter_groups = root
filter_users = root

[domain/default]
id_provider = ldap
# 証明書の名前 (fqdn) で接続する。IP アドレスで繋ぐと証明書の検証に失敗する。
# fqdn は /etc/hosts (roles/basics) で内部アドレスに引かれる。
ldap_uri = ldap://{{ ldap_server_name }}/
ldap_search_base = {{ ldap_domain }}

# sssd はパスワード認証に暗号化された接続を必須とする。slapd 側で
# roles/cert の証明書を使って StartTLS を有効にしてある (roles/ldap_server)。
# ldap_id_use_start_tls は sssd 2.12 では既定で True だが、明示しておく。
ldap_id_use_start_tls = True
ldap_tls_reqcert = demand
ldap_tls_cacert = /etc/ssl/certs/ca-certificates.crt

# 匿名 read が許可されているので bind 不要。
# ldap_default_bind_dn を書かずに ldap_default_authtok だけ置いても使われず、
# ドメインのパスワードがこのファイルに残るだけなので書かない。

# cache_credentials = True
# ldap_search_base = {{ ldap_domain }}
# id_provider = ldap
# auth_provider = ldap
# chpass_provider = ldap
# access_provider = ldap
# ldap_default_bind_dn = cn=admin,{{ ldap_domain }}
# ldap_default_authtok = {{ ldap_domain_password }}
# ldap_tls_cacertdir = /etc/ssl/certs
# ldap_search_timeout = 50
# ldap_network_timeout = 60
# ldap_access_order = filter
# ldap_access_filter = (objectClass=posixAccount)
